@import '../abstracts/variables';
@import '../themes/theme';

footer{
    @include size (100%, auto);
    @include prefix((background-image:linear-gradient(to right, white, white, #FFFFFF80)), webkit ms o);
    @include border-style(double null null);
    @include border-width (3px null null);
    @include border-color ($color null null);
    display: flex;
    justify-content: space-around;
    font-size: 0.6em;
    @include respond-to(small) {
        font-size: 0.4em;}

    p{
        color: black;
        font-size: 2em;
        text-align: right;
    }
}


