@import '../abstracts/variables';
@import '../themes/theme';

footer{
    @include size (100%, 6em);
    display: flex;
    background-image:linear-gradient(to right, white, #FFFFFF80, #FFFFFF80);
    justify-content: space-around;
    font-size: 0.6em;
    @include border-style(double null null);
    @include border-width (3px null null);
    @include border-color ($color null null);
    p{
        color: black;
        font-size: 2em;
        text-align: right;
    }
}


