
@import '../abstracts/mixin';
@import '../abstracts/variables';
@import '../themes/theme';


header{
    @include size (100%, 8em);
    @include border-style(null null double);
    @include border-width (null null 3px);
    @include border-color (null null $color);
    background-image:-webkit-gradient(linear, left top, right top, from(white), color-stop(white), to(#FFFFFF80));
    background-image:-o-linear-gradient(left, white, white, #FFFFFF80);
    background-image:linear-gradient(to right, white, white, #FFFFFF80);    
    opacity: 0.7;
    text-align: left;
    @include respond-to(small) {
        @include size (100%, 7em);
    }
}

#logo{
    max-width: 100%;
}



