@font-face{
    font-family: "Archivo";
    src: url("/fonts/Archivo-Bold.ttf") format(ttf);
}

$bkg-color: rgb(87,156,135);

header{
    background-color: $bkg-color;
    width: 100%;
    height: 210px;
}

h1{
    font-family: "Archivo";
    color: rgb(252, 202, 70);
    font-size: 2.8em;
    text-align: center;
    line-height: 210px;
}