@import '../abstracts/variables';
@import '../abstracts/mixin';
@import '../components/animation';

section{
    height: 684px;
}

#menu_note{
    background: url(../images/menunote.jpg);
}

#card_note{
    background: url(../images/home_menu1.png);
}

#menu_chic{
    background: url(../images/menuchic.jpg);
}

#card_chic{
    background: url(../images/home_menu2.png);
}

#menu_delight{
    background: url(../images/menudelice.jpg);
}

#card_delight{
    background: url(../images/home_menu3.png);
}

#menu_palette{
    background: url(../images/menupalette.jpg);
}

#card_palette{
    background: url(../images/home_menu4.png);
}


.title_restaurant{ 
    color: white;
    font-size: 3.8em;
    text-align: center;
}

.title_menu{
    color: white;
    @include size (100%, 79px);
    background-color: $color;
    opacity: 0.8;
    font-size: 2.5em;
    line-height: 2.5em;
    text-align: center;
    :hover{ animation: shake .5s infinite;}
}

.card-container {
    -webkit-perspective: 500px;
    perspective: 500px;
    display: flex;
    justify-content: space-around;
}
.card-container:hover .card{
    -webkit-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
.card {
    -webkit-transition: -webkit-transform 0.7s;
    transition: transform 0.7s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.card-front, .card-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-back {
    -webkit-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
    :hover{ 
        @include prefix((animation: shake .5s infinite), webkit ms o);}
    }

.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card {
    width: 536px;
    height: 300px;
    margin: 5%;
}
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
}

#typewriter_text{ 
    @include size (auto, 200px);
    line-height: 200px;
    font-size: 2em;
    color: black;
    letter-spacing: 1em;
    margin: 0;
    overflow: hidden;
    border-right: 1em solid $color;
    white-space: nowrap;
    text-align: center;
    @include prefix((animation: typing 3s infinite steps(14,end) backwards), webkit ms o);
    @include prefix((animation: blinking-cursor 3s infinite), webkit ms o);
}

