@import '../abstracts/variables';
@import '../abstracts/mixin';
@import '../components/animation';


#container{
    @include size (100%, 720px);
    overflow: hidden;
}

.slider{
    @include size (35%, 300px);
    position: absolute;
    transition: 5s;
    backface-visibility: hidden;
}

.slider_photo{
    z-index: 100;
    &:hover{
        @include prefix((transform:rotateY(360deg)), webkit ms o);
    }
}

.slider_menu{
    z-index: 50;
    @include prefix((transform:rotateY(-180deg)), webkit ms o);
}

.slider_photo:hover + .slider_menu{
    @include prefix((transform:rotateY(0deg)), webkit ms o);
    transition: 5s;
}

#menu_note{
    background: url(../images/menunote.jpg);
    top: 15%;
    left: 10%;
}

#carte_note{
    background: url(../images/home_menu1.png);
    top: 15%;
    left: 10%;
}

#menu_chic{
    background: url(../images/menuchic.jpg);
    top: 15%;
    right: 10%;
}

#carte_chic{
    background: url(../images/home_menu2.png);
    top: 15%;
    right: 10%;
}
#menu_delice{
    background: url(../images/menudelice.jpg);
    top: 45%;
    left: 10%;
}

#carte_delice{
    background: url(../images/home_menu3.png);
    top: 45%;
    left: 10%;
}

#menu_palette{
    background: url(../images/menupalette.jpg);
    top: 45%;
    right: 10%;
}

#carte_palette{
    background: url(../images/home_menu4.png);
    top: 45%;
    right: 10%;
}

.title_restaurant{ 
        color: white;
        margin-top: 9%;
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 4em;
}

.title_menu{
    @include size (100%, 20px);
    color: white;
    text-shadow: -1px -1px 0 rgba(250,250,250,0.3);
    background-color: $color;
    opacity: 0.8;
    font-size: 2em;
    text-align: center;
}

#typewriter_text{ 
    @include size (auto, 200px);
    line-height: 200px;
    font-size: 1.8em;
    color: black;
    letter-spacing: 1em;
    margin: 0;
    overflow: hidden;
    border-right: 1em solid $color;
    white-space: nowrap;
    text-align: center;
    animation:
                typing 3s infinite steps(14, end) backwards,
                blinking-cursor 3s infinite;
}
    






