@import '../abstracts/variables';
@import '../abstracts/mixin';
@import '../components/animation';

section{
    height: auto;
}

figure{
    margin: 0;
}

.cards-container{
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2%;
    @include respond-to(small) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 5%}
}

.card-container {
    perspective: 500px;
    display: flex;
    justify-content: space-around;
    width: 48%;
    margin: 1%;
    @include respond-to(small) {
        width: 95%;
        margin: 3%;}
}

.card-container:hover .card{
    transform: rotateY(180deg);
}

.card {
    transition: transform .7s;
    transform-style: preserve-3d;
    width: 70%;
    height: 320px;
    @include respond-to(small) {
        height: 150px;}
}


.card-front, .card-back {
    backface-visibility: hidden;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.card-back {
    transform: rotateY(180deg);
    :hover{ 
        @include prefix((animation: shake .5s infinite), webkit ms o);}
    }

.photo_menu{
    max-width: 80%;
    height: auto;
    @include respond-to(medium) {
        max-width: 45%;}
    @include respond-to(small) {
        max-width: 40%;}
    }



#menu_note{
    background: url(../images/menunote.jpg);
    @include respond-to(small) {
        background: url(../images/menunote_min.jpg)}
}

#card_note{ 
    background-color: #fce0dc;
}

#menu_chic{
    background: url(../images/menuchic.jpg);
    @include respond-to(small) {
        background: url(../images/menuchic_min.jpg)}
}

#card_chic{
    background-color: #fff5fe;
}

#menu_delight{
    background: url(../images/menudelice.jpg);
    @include respond-to(small) {
        background: url(../images/menudelice_min.jpg)}
}

#card_delight{
    background-color: #eef0ef;
}

#menu_palette{
    background: url(../images/menupalette.jpg);
    @include respond-to(small) {
        background: url(../images/menupalette_min.jpg)}
}

#card_palette{
    background-color: #fdfffd;
}


.title_restaurant{ 
    color: white;
    font-size: 2.9em;
    text-align: center;
    @include respond-to(medium) {
        font-size: 2.8em;}
    @include respond-to(small) {
        font-size: 2em;}
    }


.title_menu{
    color: black;
    @include size (100%, 85px);
    opacity: 0.5;
    font-size: 2.5em;
    line-height: 85px;
    text-align: center;
    :hover{ animation: shake .5s infinite;}
    @include respond-to(medium) {
        font-size: 2em;}
    @include respond-to(small) {
        font-size: 1.5em;}
}


#typewriter_text{ 
    @include size (auto, auto);
    line-height: 170px;
    font-size: 2em;
    color: black;
    letter-spacing: 1em;
    overflow: hidden;
    border-right: 1em solid $color;
    white-space: nowrap;
    text-align: center;
    @include prefix((animation: typing 3s infinite steps(14,end) backwards), webkit ms o);
    @include respond-to(medium) {
        font-size: 1.8em;}
    @include respond-to(small) {
        font-size: 1.4em;}
}





