body{
    @include size (100%, auto);
}


.page_menu{ 
    @include padding (0 0 0 0);
    @include margin (null 5%);
    @include size (90%, 43em);
    @include respond-to(small) {
        height: 50em;
        @include margin (1% null)}
    }

.menu_section{ 
    @include size (100%, auto);
    display: flex;
    justify-content: space-between;
}

.plat{
    @include size (60%, auto);
    margin-right: 10%;
    margin-left: 10%;
    @include respond-to(small) {
        @include margin (0 0);}
    }


.prix{
    @include size (30%, auto);
    margin-left: 10%;
}

ul{
    list-style-type:circle;
}

#no_price{
    text-align: center;
    width: 100%;
}