@import '_variables.scss';

@mixin size ($width, $height: $width){
    width: $width;
    height: $height;
}

@mixin carte ($margin-top, $border-radius, $background-repeat){
    margin-top: $margin-top;
    border-radius: $border-radius;
    background-repeat: $background-repeat;
}

