@import '_variables.scss';


@mixin size ($width, $height: $width){
    width: $width;
    height: $height;
}

@mixin columns ($cols){
    @extend.column; //style commun à toutes les colonnes
    width: $cols * $column-width + ($column-gutter-width * 2) * ($cols-1); //largeur du bloc
}



 