$unit: 10px;
$background: linear-gradient(to right, white,white, rgb(222,196,192)); //couleur background header
$color: rgb(222,196,192); //couleur background body
$default-font-stack: Arial, sans-serif;
